@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500&display=swap');
*

{
    margin: 0;
    padding:  0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', mono space;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow:  hidden;
    background: #000;
}

.text{
    position: relative;
    transform: skewY(345deg) translateY(-200px);
    animation:  animateColor 5s linear infinite;
}

@keyframes animateColor{
    0%
    {
        filter: hue-rotate(0deg);
    }
    100%
    {
        filter:  hue-rotate(360deg);
    }
}

.text h2{
    position: relative;
    width: 100%;
    font-size: 8em;
    color: #fff;
    pointer-events: none;
    line-height: 1em;
    white-space: nowrap;
    text-shadow: calc(var(--x)) 100px 0 rgba(255,255,255,0.1);
    transform:  translateX(calc(0% - var(--x)* var(--i)));
}

.text h2 span{
    color: #0f0;
    margin: 0 10px;
    
}

.text h2 span:nth-child(even){
    color: transparent;
    -webkit-text-stroke: 0.2px #fff;
}



.toggle{
    position: fixed;
    top: 40px;
    right: 40px;
    width: 70px;
    height: 60px;
    background: #fff url(../img/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}