@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,800&display=swap');
*
{
    margin: 0;
    padding:  0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', mono space;
}


/*--------------------------------------------animacion de texto*/

.container{
    background: rgb(19, 19, 19);
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow:  hidden;
    background: rgb(19, 19, 19);
}
.text{
    position: relative;
    transform: skewY(345deg) translateY(-200px);
    animation:  animateColor 5s linear infinite;
}
@keyframes animateColor{
    0%
    {
        filter: hue-rotate(0deg);
    }
    100%
    {
        filter:  hue-rotate(360deg);
    }
}
.text h2{
    position: relative;
    width: 100%;
    font-size: 8em;
    color: #fff;
    pointer-events: none;
    line-height: 1em;
    white-space: nowrap;
    text-shadow: calc(var(--x)) 100px 0 rgba(255,255,255,0.1);
    transform:  translateX(calc(0% - var(--x)* var(--i)));
}
.text h2 span{
    color: #0f0;
    margin: 0 10px;
    
}
.text h2 span:nth-child(even){
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}
/*--------------------------------------------animacion de texto*/

.banner{
    background: rgb(19, 19, 19);
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.banner .contenidoImg{
    position:absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 100%;
}

.banner .contenidoImg img{
    position: absolute;
    top: 6.2em;
    left: 12em;
    width: 70%;
    height: 80%;
    object-fit: cover;
}

.banner .contenidoText{
    background: #fff;
    position: absolute;
    top: 17.5em;
    right: 0;
    left: 40em;
    width: calc(100% - 950px);
    justify-content:center;
    align-items: center;
    padding: 110px 110px 70px 50px;
}

.textMyPortfolio{
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #333;
    color: #fff;
    padding: 0 5px;
}

.banner .contenidoText h4{
    font-size: 1.5em;
    color: #333;
    font-weight: 500;
}

.banner .contenidoText h4 span{
    color: rgb(255, 145, 2);
    font-size: 2em;
    font-weight: 800;
}
.banner .contenidoText h2{
    font-size: 3em;
    color: #333;
    line-height: 1em;
}

p{
    text-align: justify;
    font-size: 1em;
    margin: 20px 0;
    font-weight: 400;
}


.cartas{
    justify-content: space-between;
    height: 100vh;
    background: rgb(19, 19, 19);
    display:flex;
    position: relative;
    flex-wrap:wrap;
    padding: 15em;
    align-items: center;
}

.cartas .card{
    top: 14em;
    height: 250px;
    position: relative;
    background: #fff;
    display: flex;
    width: 28%;
}

.cartas .card .imgBx{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}


.cartas .card:hover .imgBx{
    width: 150px;
    height: 150px;
    left: -75px;
    top: calc(50% - 75px);
    transition: 0.5s ease-in-out;
    background: #ff0057
}

.cartas .card .imgBx:before{
    content: attr(data-text);
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    color: rgba(0, 0, 0, 0.04);
    font-weight: bold;
}

.cartas .card .imgBx img{
    max-width: 100px;
    transition: 0.5s ease-in-out;
}
.cartas .card:hover .imgBx img{
    max-width: 75px;
}

.cartas .card .content{
    position:absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartas .card .content h3{
    margin-bottom: 5px;
    font-size: 24px;
}
.cartas .card .content a{
    border-radius: 10px;
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: #333;
    text-decoration: none;
    color: #fff;
}

@media(max-width: 1536px){
    .cartas .card .imgBx:before{
        font-size: 2.5em;
    }
    .cartas .card{
        height: 220px;
        width: 31%;
    }
}
@media(max-width: 1320px){
    .cartas .card{
        position:inherit;
        width: 38%;
    }
}
@media(max-width: 1329px){
    .cartas{
        display:flow-root;
    }
    
    .cartas .card{
        top: 15px;
        height: 250px;
        background: #fff;
        width: 55%;
        margin: 25px auto;
    }
}
























.toggle{
    position: fixed;
    top: 43%;
    right: 40px;
    width: 80px;
    height: 150px;
    background: #fff url(../img/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1000;
}
.toggle.active{
    background: rgb(19, 19, 19) url(../img/close.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
}
.sidebar{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 800px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.sidebar{
    position: fixed;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding: 40px;
    z-index: 100;
    right: -100%;
}
.sidebar.active{
    right: 0;
}
.sidebar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sidebar ul li{
    list-style: none;
}
.sidebar ul li a{
    color: #000;
    text-decoration: none;
    font-size: 3em;
    margin: 10px 0;
    font-weight: 500;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.sidebar ul li a:hover{
    padding: 0 100px 0 10px;
    top: 40px;
    right: 50px;
    width: 70px;
    height: 60px;
    background: rgb(19, 19, 19);
    background-size: 30px;
    color: rgb(255, 167, 51);
}